"*":
  "atom-material-ui":
    colors: {}
    tabs: {}
    ui:
      panelContrast: true
  core:
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontSize: 15
  emmet:
    useEmmetComments: true
  "exception-reporting":
    userId: "311c8200-9598-4ee4-bad1-c230df46bf37"
  "file-icons":
    strategies: {}
  "ide-php":
    phpPath: "/usr/local/php5/bin/php"
  "linter-ui-default":
    panelHeight: 184
  "tree-view": {}
  welcome:
    showOnStartup: false
